name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'temurin'
        
    - name: Setup Android SDK
      uses: android-actions/setup-android@v2
      
    - name: Build with Gradle
      run: |
        cd app
        chmod +x ../gradlew
        ../gradlew assembleDebug
      
    - name: Upload Artifact
      uses: actions/upload-artifact@main
      with:
        name: NovaFlareHelper
        path: app/build/outputs/apk/debug/app-debug.apk